In [406]:
import pandas as pd
import numpy as np

In [407]:
meta_data=pd.read_csv("Metadata.csv")
Clubs_data=pd.read_csv("Clubs_data.csv")
Organisers_fests=pd.read_csv("Organisers_In_Fests.csv")
participants_fests=pd.read_csv("Participants_In_Fests.csv")

In [408]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [409]:
Clubs_data["Best Match"]= Clubs_data["Name"].map(lambda x: process.extractOne(x,meta_data["Name"])[0])

In [410]:
data=Clubs_data
data=data.drop('Name',axis=1)
data.rename(columns = {"Best Match":"Name"},inplace=True)

In [411]:
meta_data

                Name          ID
0      Annette Ahmed  18XJ1A0100
1     Zachery Clancy  18XJ1A0101
2     Jaquelin Duran  18XJ1A0102
3    Orlando Clemens  18XJ1A0103
4     Dorothy Mayhew  18XJ1A0104
..               ...         ...
495     Andrew Keefe  17XJ1A0345
496    Valeria Quinn  17XJ1A0346
497   Joselyn Barrow  17XJ1A0347
498     Yisroel Sisk  17XJ1A0348
499     Natalia Huff  17XJ1A0349

[500 rows x 2 columns]

In [412]:
data = pd.merge(data,meta_data,how="outer",on = "Name")
data.drop_duplicates(subset=['Club_Name','Event','Role','Name'], keep='first', inplace=False)
print(data)

     Club_Name           Event         Role               Name          ID
0       club_3  club_3_event_2  Participant     Darien Martens  17XJ1A0220
1       club_2  club_2_event_1  Participant       Sage Schrock  17XJ1A0165
2       club_3  club_3_event_1  Participant       Sage Schrock  17XJ1A0165
3       club_1  club_1_event_1  Participant       Sage Schrock  17XJ1A0165
4       club_3  club_3_event_3  Participant       Sage Schrock  17XJ1A0165
...        ...             ...          ...                ...         ...
1278       NaN             NaN          NaN        Ryann Coker  17XJ1A0339
1279       NaN             NaN          NaN  Jackeline Briscoe  17XJ1A0342
1280       NaN             NaN          NaN     Alivia Kidwell  17XJ1A0344
1281       NaN             NaN          NaN      Valeria Quinn  17XJ1A0346
1282       NaN             NaN          NaN       Natalia Huff  17XJ1A0349

[1283 rows x 5 columns]

In [413]:
a=data['Name'].unique()
a.size

500

In [414]:
Organisers_fests["Name1"]= Organisers_fests["Name"].map(lambda x: process.extractOne(x,meta_data["Name"])[0])

In [415]:
O= Organisers_fests.drop("Name",axis=1)
O.rename(columns = {"Name1":"Name"},inplace=True)

In [416]:
a=O['Name'].unique()
a.size

20

In [417]:
O

   Fest_Name          Role                Name
0     fest_2   organiser_2       Starr Hammond
1     fest_2   organiser_6         Aylin Seals
2     fest_2   organiser_7   Sebastien Hickman
3     fest_2   organiser_8    Gretchen Clawson
4     fest_1   organiser_1      Evelin Bradley
5     fest_2  organiser_10  Delanie Gilbertson
6     fest_1   organiser_2     River Feliciano
7     fest_1   organiser_9        Leona Cabral
8     fest_2   organiser_1         Aya Kennedy
9     fest_1   organiser_6      Abdullah Horst
10    fest_2   organiser_3     Stephon Burnett
11    fest_1  organiser_10      Perry Perryman
12    fest_1   organiser_3         Daria Daily
13    fest_1   organiser_5      Sana Fairbanks
14    fest_1   organiser_4           Jordi Tam
15    fest_2   organiser_4      Keyara Camacho
16    fest_2   organiser_5    Rashawn Balderas
17    fest_1   organiser_7     Blaine Mckenzie
18    fest_1   organiser_8      Ashanti Koenig
19    fest_2   organiser_9      Zoie McDermott

In [418]:
data

     Club_Name           Event         Role               Name          ID
0       club_3  club_3_event_2  Participant     Darien Martens  17XJ1A0220
1       club_2  club_2_event_1  Participant       Sage Schrock  17XJ1A0165
2       club_3  club_3_event_1  Participant       Sage Schrock  17XJ1A0165
3       club_1  club_1_event_1  Participant       Sage Schrock  17XJ1A0165
4       club_3  club_3_event_3  Participant       Sage Schrock  17XJ1A0165
...        ...             ...          ...                ...         ...
1278       NaN             NaN          NaN        Ryann Coker  17XJ1A0339
1279       NaN             NaN          NaN  Jackeline Briscoe  17XJ1A0342
1280       NaN             NaN          NaN     Alivia Kidwell  17XJ1A0344
1281       NaN             NaN          NaN      Valeria Quinn  17XJ1A0346
1282       NaN             NaN          NaN       Natalia Huff  17XJ1A0349

[1283 rows x 5 columns]

In [419]:
data1 = pd.merge(data,O,how='outer',on = "Name")
data1.rename(columns = {"Role_x":"club_role","Role_y":"Fest_role"},inplace =True)
data1

,Club_Name,Event,club_role,Name,ID,Fest_Name,Fest_role
0,club_3,club_3_event_2,Participant,Darien Martens,17XJ1A0220,NaN,NaN
1,club_2,club_2_event_1,Participant,Sage Schrock,17XJ1A0165,NaN,NaN
2,club_3,club_3_event_1,Participant,Sage Schrock,17XJ1A0165,NaN,NaN
3,club_1,club_1_event_1,Participant,Sage Schrock,17XJ1A0165,NaN,NaN
4,club_3,club_3_event_3,Participant,Sage Schrock,17XJ1A0165,NaN,NaN
...,...,...,...,...,...,...,...
1278,NaN,NaN,NaN,Ryann Coker,17XJ1A0339,NaN,NaN
1279,NaN,NaN,NaN,Jackeline Briscoe,17XJ1A0342,NaN,NaN
1280,NaN,NaN,NaN,Alivia Kidwell,17XJ1A0344,NaN,NaN
1281,NaN,NaN,NaN,Valeria Quinn,17XJ1A0346,NaN,NaN
1282,NaN,NaN,NaN,Natalia Huff,17XJ1A0349,NaN,NaN

In [420]:
a=data1['Name'].unique()
a.size

500

In [421]:
participants_fests["Name1"]= participants_fests["Name"].map(lambda x: process.extractOne(x,meta_data["Name"])[0])

In [422]:
p=participants_fests.drop('Name',axis=1)
p.rename(columns = {"Name1":"Name"},inplace=True)

In [423]:
data2 = pd.merge(data1,p,how='outer',on = "Name")
data2.rename(columns = {"Role_x":"club_role","Role_y":"Fest_role","Fest_Name_x":"oragnisers_festname","Fest_Name_y":"participants_festname","Event_x":"club_event","Event_y":"fest_event"},inplace =True)
data2.head(5)

,Club_Name,club_event,club_role,Name,ID,oragnisers_festname,Fest_role,participants_festname,fest_event
0,club_3,club_3_event_2,Participant,Darien Martens,17XJ1A0220,NaN,NaN,fest_2,fest_2_event_4
1,club_3,club_3_event_2,Participant,Darien Martens,17XJ1A0220,NaN,NaN,fest_1,fest_1_event_5
2,club_3,club_3_event_2,Participant,Darien Martens,17XJ1A0220,NaN,NaN,fest_2,fest_2_event_5
3,club_2,club_2_event_1,Participant,Sage Schrock,17XJ1A0165,NaN,NaN,NaN,NaN
4,club_3,club_3_event_1,Participant,Sage Schrock,17XJ1A0165,NaN,NaN,NaN,NaN

In [424]:
a=data2['Name'].unique()
a.size

500

In [437]:
one_hot_encoded_data = pd.get_dummies(data2, columns = ['club_event','fest_event','club_role','Fest_role','oragnisers_festname','participants_festname'])
print(one_hot_encoded_data)

     Club_Name            Name          ID  club_event_club_1_event_1  \
0       club_3  Darien Martens  17XJ1A0220                          0
1       club_3  Darien Martens  17XJ1A0220                          0
2       club_3  Darien Martens  17XJ1A0220                          0
3       club_2    Sage Schrock  17XJ1A0165                          0
4       club_3    Sage Schrock  17XJ1A0165                          0
...        ...             ...         ...                        ...
8325       NaN    Natalia Huff  17XJ1A0349                          0
8326       NaN    Natalia Huff  17XJ1A0349                          0
8327       NaN    Natalia Huff  17XJ1A0349                          0
8328       NaN    Natalia Huff  17XJ1A0349                          0
8329       NaN    Natalia Huff  17XJ1A0349                          0

      club_event_club_1_event_2  club_event_club_1_event_3  \
0                             0                          0
1                             0                          0
2                             0                          0
3                             0                          0
4                             0                          0
...                         ...                        ...
8325                          0                          0
8326                          0                          0
8327                          0                          0
8328                          0                          0
8329                          0                          0

      club_event_club_2_event_1  club_event_club_2_event_2  \
0                             0                          0
1                             0                          0
2                             0                          0
3                             1                          0
4                             0                          0
...                         ...                        ...
8325                          0                          0
8326                          0                          0
8327                          0                          0
8328                          0                          0
8329                          0                          0

      club_event_club_2_event_3  club_event_club_3_event_1  ...  \
0                             0                          0  ...
1                             0                          0  ...
2                             0                          0  ...
3                             0                          0  ...
4                             0                          1  ...
...                         ...                        ...  ...
8325                          0                          0  ...
8326                          0                          0  ...
8327                          0                          0  ...
8328                          0                          0  ...
8329                          0                          0  ...

      Fest_role_organiser_4  Fest_role_organiser_5  Fest_role_organiser_6  \
0                         0                      0                      0
1                         0                      0                      0
2                         0                      0                      0
3                         0                      0                      0
4                         0                      0                      0
...                     ...                    ...                    ...
8325                      0                      0                      0
8326                      0                      0                      0
8327                      0                      0                      0
8328                      0                      0                      0
8329                      0                      0                      0

      Fest_role_organiser_7  Fest_role_organiser_8  Fest_role_organiser_9  \
0                         0                      0                      0
1                         0                      0                      0
2                         0                      0                      0
3                         0                      0                      0
4                         0                      0                      0
...                     ...                    ...                    ...
8325                      0                      0                      0
8326                      0                      0                      0
8327                      0                      0                      0
8328                      0                      0                      0
8329                      0                      0                      0

      oragnisers_festname_fest_1  oragnisers_festname_fest_2  \
0                              0                           0
1                              0                           0
2                              0                           0
3                              0                           0
4                              0                           0
...                          ...                         ...
8325                           0                           0
8326                           0                           0
8327                           0                           0
8328                           0                           0
8329                           0                           0

      participants_festname_fest_1  participants_festname_fest_2
0                                0                             1
1                                1                             0
2                                0                             1
3                                0                             0
4                                0                             0
...                            ...                           ...
8325                             0                             1
8326                             0                             1
8327                             1                             0
8328                             0                             1
8329                             0                             1

[8330 rows x 60 columns]

In [438]:
one_hot_encoded_data=one_hot_encoded_data.drop_duplicates()

In [439]:
l = one_hot_encoded_data["Name"].unique()
import copy 
ohc = copy.deepcopy(one_hot_encoded_data)
# one_hot_encoded_data.fillna(0,inplace=True)
# one_hot_encoded_data.replace(np.nan,0,inplace=True)
da =pd.DataFrame(np.arange(0,59).reshape(1,59),columns = list(one_hot_encoded_data.columns[1:60]))
#da

for k in range(l.shape[0]):
    for j in range(3,61):
        if(j==3):
            da.loc[k,one_hot_encoded_data.columns[j-2]] = l[k]
        if(j==4):
            da.loc[k,one_hot_encoded_data.columns[j-2]] = one_hot_encoded_data[one_hot_encoded_data["Name"] == l[k]]["ID"].iloc[0]    
        if((j>=4) and (j<59)):
            da.loc[k,one_hot_encoded_data.columns[j-1]] = one_hot_encoded_data[one_hot_encoded_data["Name"] == l[k]].iloc[:,j].sum()
        else:
           da.loc[k,one_hot_encoded_data.columns[j-1]] = one_hot_encoded_data[one_hot_encoded_data["Name"] == l[k]].iloc[:,j-1].sum()

In [440]:
da.head(2)

,Name,ID,club_event_club_1_event_1,club_event_club_1_event_2,club_event_club_1_event_3,club_event_club_2_event_1,club_event_club_2_event_2,club_event_club_2_event_3,club_event_club_3_event_1,club_event_club_3_event_2,...,Fest_role_organiser_4,Fest_role_organiser_5,Fest_role_organiser_6,Fest_role_organiser_7,Fest_role_organiser_8,Fest_role_organiser_9,oragnisers_festname_fest_1,oragnisers_festname_fest_2,participants_festname_fest_1,participants_festname_fest_2
0,Darien Martens,17XJ1A0220,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0
1,Sage Schrock,17XJ1A0165,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [469]:
val = da._get_numeric_data()
val[val > 1] = 1
da

,Name,ID,club_event_club_1_event_1,club_event_club_1_event_2,club_event_club_1_event_3,club_event_club_2_event_1,club_event_club_2_event_2,club_event_club_2_event_3,club_event_club_3_event_1,club_event_club_3_event_2,...,Fest_role_organiser_4,Fest_role_organiser_5,Fest_role_organiser_6,Fest_role_organiser_7,Fest_role_organiser_8,Fest_role_organiser_9,oragnisers_festname_fest_1,oragnisers_festname_fest_2,participants_festname_fest_1,participants_festname_fest_2
0,Darien Martens,17XJ1A0220,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
1,Sage Schrock,17XJ1A0165,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Alison Mcvey,17XJ1A0255,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Kiara Jauregui,17XJ1A0243,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Tate Blum,18XJ1A0184,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,Jackeline Briscoe,17XJ1A0342,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
497,Alivia Kidwell,17XJ1A0344,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
498,Valeria Quinn,17XJ1A0346,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499,Natalia Huff,17XJ1A0349,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
total,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [480]:
column_names=list(da.columns)
counts= da.sum()
counts

C:\Users\manup\AppData\Local\Temp\ipykernel_35312\2101677471.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  counts= da.sum()

club_event_club_1_event_1       136.0
club_event_club_1_event_2        66.0
club_event_club_1_event_3       135.0
club_event_club_2_event_1       138.0
club_event_club_2_event_2        63.0
club_event_club_2_event_3       137.0
club_event_club_3_event_1       137.0
club_event_club_3_event_2        64.0
club_event_club_3_event_3       209.0
fest_event_fest_1_event_1       143.0
fest_event_fest_1_event_10      140.0
fest_event_fest_1_event_11      142.0
fest_event_fest_1_event_12      144.0
fest_event_fest_1_event_13      209.0
fest_event_fest_1_event_2       209.0
fest_event_fest_1_event_3       206.0
fest_event_fest_1_event_4       209.0
fest_event_fest_1_event_5       144.0
fest_event_fest_1_event_6       140.0
fest_event_fest_1_event_7       142.0
fest_event_fest_1_event_8       145.0
fest_event_fest_1_event_9       208.0
fest_event_fest_2_event_1       137.0
fest_event_fest_2_event_10      143.0
fest_event_fest_2_event_11      140.0
fest_event_fest_2_event_12      140.0
fest_event_fest_2_event_13      139.0
fest_event_fest_2_event_14      145.0
fest_event_fest_2_event_15      205.0
fest_event_fest_2_event_2       207.0
fest_event_fest_2_event_3       207.0
fest_event_fest_2_event_4       212.0
fest_event_fest_2_event_5       141.0
fest_event_fest_2_event_6       139.0
fest_event_fest_2_event_7       137.0
fest_event_fest_2_event_8       144.0
fest_event_fest_2_event_9       263.0
club_role_Participant             4.0
club_role_organiser_1             4.0
club_role_organiser_2             4.0
club_role_organiser_3             5.0
club_role_organiser_4             6.0
club_role_organiser_5             3.0
Fest_role_organiser_1             3.0
Fest_role_organiser_10            3.0
Fest_role_organiser_2             3.0
Fest_role_organiser_3             3.0
Fest_role_organiser_4             3.0
Fest_role_organiser_5             3.0
Fest_role_organiser_6             3.0
Fest_role_organiser_7             3.0
Fest_role_organiser_8             3.0
Fest_role_organiser_9            11.0
oragnisers_festname_fest_1       11.0
oragnisers_festname_fest_2      364.0
participants_festname_fest_1    364.0
participants_festname_fest_2    373.0
dtype: float64

In [482]:
counts.to_csv("count.csv")

In [445]:
for columns in da:
    to_bool=da.replace({0:False,1:True})
to_bool

,Name,ID,club_event_club_1_event_1,club_event_club_1_event_2,club_event_club_1_event_3,club_event_club_2_event_1,club_event_club_2_event_2,club_event_club_2_event_3,club_event_club_3_event_1,club_event_club_3_event_2,...,Fest_role_organiser_4,Fest_role_organiser_5,Fest_role_organiser_6,Fest_role_organiser_7,Fest_role_organiser_8,Fest_role_organiser_9,oragnisers_festname_fest_1,oragnisers_festname_fest_2,participants_festname_fest_1,participants_festname_fest_2
0,Darien Martens,17XJ1A0220,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,True,True,True
1,Sage Schrock,17XJ1A0165,True,True,True,True,False,True,False,True,...,False,False,False,False,False,False,False,False,False,False
2,Alison Mcvey,17XJ1A0255,True,False,True,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
3,Kiara Jauregui,17XJ1A0243,True,True,True,False,True,False,True,True,...,False,False,False,False,False,False,False,False,False,False
4,Tate Blum,18XJ1A0184,False,False,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Ryann Coker,17XJ1A0339,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,True
496,Jackeline Briscoe,17XJ1A0342,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,True
497,Alivia Kidwell,17XJ1A0344,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,True
498,Valeria Quinn,17XJ1A0346,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
499,Natalia Huff,17XJ1A0349,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,True

In [446]:
to_bool.to_csv('to_bool.csv')
da.to_csv('out1.csv')

In [456]:
json_file = to_bool.to_json(orient='records',lines=True,indent=1)

In [457]:
with open('my_data.json', 'w') as f:
    f.write(json_file)